
:root{
    --main-text-color: #212121;
    --secondary-text-color: #ffffff;
    --ouwer-text-color: #757575;
    --acent-color: #2196f3;
    --contener-color: #eeeeee;
    --logo-color-text: #000000;
    --buttons-port-color: #f5f4fa;
    --footer-text-color: #rgba(255, 255, 255, 0.6);
    --background-footer-color: #2f303a;
    --background-section: #e5e5e5;
    --line-color: #ececec;
    --background-color: #FFFFFF;
    --icon-color: #afb1b8;
    --main-color: roboto, sans-serif;

}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-color: var(--background-color);
    font-size: 14px;
    letter-spacing: 0.03em;

}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
address{
    font-style: normal;
}
button{
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    
}
*,
*::before
*::after{
    box-sizing: inherit;
   

}
.header .conteiner{
    display: flex;
    align-items: center;
}
.conteiner{
    width: 1200px;
    outline: 5px solid tomato;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
   

}

.conteiner-nav{
    display: flex;
    align-items: center;
    
}
.conteiner-section{
    /* display: flex; */
    margin-top: 32px;
    margin-bottom: 32px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
    

}
.header-logo{
    
    margin-right: 93px;
    margin-left: 0;

    font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   color: var(--acent-color);
   }

   .header-logo-color{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
   letter-spacing: 0.03em;
    color: #000000;

   }
   .header-item{
   
    margin-right: 50px;
   }
   .header-item:last-child{
    margin-right: 0;
   }
.header-list{
    margin-right: 30px;
    
}
 .header-list:last-child {
     margin-right: 0;
       
}
.header-list :hover,
.header-list :focus{
     color: var(--acent-color);
     cursor: pointer;
}



.header-link{
    padding: 33px 0;
    display: block;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-text-color);

}


.header-mail{

   padding: 32px 0;
display: flex;
gap: 10px;
align-items: center;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--ouwer-text-color);
}

.header-tel{
   padding: 32px 0;
   display: flex;
   gap: 10px;
  
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--ouwer-text-color);

}
/* .header-tel:hover,
.header-tel:focus{
     color: var(--acent-color);
     cursor: pointer;
    
}
.header-mail:hover,
.header-mail:focus{
     color: var(--acent-color);
     cursor: pointer;
    
} */
/* .current{
    color: var(--acent-color);
} */


.list{
    list-style: none;
    padding: 0;
    margin: 0;
   
}
.conteiner-list{
    margin-left: auto;
}

.link{
    text-decoration: none
}

.header-icon{
  
    fill: currentColor;


}
.header-mail:hover .header-icon,
.header-mail:focus .header-icon{
   fill: var(--acent-color);
}
.header-tel:hover .header-icon,
.header-tel:focus .header-icon{
    fill: var(--acent-color);
}



/* --------------------HERO-------------------- */
.visually-hidden{
 position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.subject{

    background-color: var(--background-footer-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
  
  
}

.subject-text{
   
   max-width: 696px;
   margin:0 auto;
   margin-bottom: 30px;
   

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    text-transform: uppercase;
}


.subject-btn{
   
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    text-align: center;
    margin-top: 0px;
    align-items: center;
    border: none;  

font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--secondary-text-color);
background-color: var(--acent-color); 
cursor: pointer;


}
.btn:hover,
.btn:focus{
    background: #2196F3;
    color:var(--buttons-port-color);
}
/* ---------------------ПЕРЕВАГИ--------------- */
.conteiner-teem{
    padding-top: 94px;
    padding-bottom: 94px;
   
}
.advantage-nav{
    display:flex;
    gap: 30px;
}
.advantage{
    max-width: 270px;
    
}
.advantage::before
{
    display: block;
    content: "";
    height: 120px;
    background-color: var(--buttons-port-color);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    
}
.icon-antenna::before{
background-image: url(../images/antenna.svg);
}
.icon-clok::before{
    background-image: url(../images/clock.svg);
}
.icon-diagram::before{
    background-image: url(../images/diagram.svg);}

.icon-astronaut::before{
    background-image: url(../images/astronaut\ 1.svg);}
    
.teem-top{
    margin-bottom: 10px;
    margin-top: 0px;
    
    
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-text-color);

}
.teem-text{
margin-top: 0;
margin-bottom: 0;

font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--ouwer-text-color);
}

   
.teem{
    background: #F5F4FA;
    padding: 94px 0;

    
}
.conteiner-teem-desk{
    padding-bottom: 94px;
}
.img-conteiner{
    display: flex;
    gap: 30px;
}

.teem-desk{
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 0;
  

font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
color: var(--main-text-color);

}

.teem-desk-conteiner{
   margin-top: 0;
    margin-bottom: 50px;
}
.list-teem{
width: 270px;
background-color: var(--background-color);
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

.teem-conteiner{
    padding-top:30px ;
    padding-bottom:30px;
   
}

.teem-subtitle{
    margin-top: 0;
    margin-bottom: 10px;
    
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-text-color);

}

.teem-subtitle-text{
    
    margin-top: 0;
    margin-bottom: 0;
   
 
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--ouwer-text-color);
}

.icon-nav{
   display: flex;
   gap: 10px;
   
   margin-top: 16px;
   
   justify-content: center;

}
.soc-item-teem{
    width: 44px;
    height: 44px; 
}
.soc-link-teem{
   width: 100%;
   height: 100%;
    background-color: var(--background-color);
    border-radius: 50%;
    display: flex;
   align-items: center;
   justify-content: center;
   color: var(--icon-color);
}
.soc-teem-icon{
    fill: currentColor;
}

.soc-link-teem:hover,
.soc-link-teem:focus{
background-color: var(--acent-color);
color: var(--background-color);
}

   /* --------------------------------------- ПОСТІЙНІ КЛІЄНТИ-------------------- */

.client-text{
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-text-color);
}
.client-nav{
    display: flex;
    gap: 30px;
}
.icon-client{
    
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    background: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--icon-color);
       
}

.icon-client:hover,
.icon-client:focus{

    border: 1px solid var(--acent-color);
    fill: var(--acent-color);}
    

  

                                                /* FOOTER */
.footer{
    background-color:  var(--background-footer-color);
    padding: 60px 0;
   
}

address{
    margin-top: 20px;
}
.footer-logo-color{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
 letter-spacing: 0.03em;
color:var(--secondary-text-color) ;

}

.footer-link-mail,
.footer-link-tel{
    
    display: inline-block;
    margin-top: 0;
    

    font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}


.footer-list :focus,
.footer-list :hover{
    color:  var(--secondary-text-color);
    cursor: pointer;
    
}
.footer-list:not(:last-child){
    
    margin-bottom: 9px;

}


.footer-link-addres{
    display: inline-block;
    margin-top: 0px;
    
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:  var(--secondary-text-color);
}
.footer-conteiner{
    display: flex; 
    align-items: baseline;
  
}
.footer-info{
    margin-right: 70px;
}
.footer-text{
    margin-bottom: 20px;
  
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--secondary-text-color);

}

.footer-item{
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0 0;
   
}

.soc-link{
    width: 44px;
    height: 44px; 
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
   align-items: center;
   justify-content: center;
  
}
.soc-link-icon{
   fill: var(--secondary-text-color);
}
.soc-link:hover,
.soc-link:focus{
background-color: var(--acent-color);
}

                                  /* portfolio */
 
 


.header{
    border-bottom: 1px solid var(--line-color);
}

.portfolio-section{ 
    padding: 94px 0;
}

.portfolio-img{
    display: flex;
    
    flex-wrap: wrap;
    gap: 30px;
    
}
.content{
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.current{
    color: var(--acent-color);
    
}

  .content-btn-item {
    padding: 6px 22px;
    height: 38px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: #212121;
    border-radius: 4px;
    background-color: var(--buttons-port-color);
  
}
.content-btn-item:hover,
 .content-btn-item:focus{
  background-color: var(--acent-color);
   color: var(--background-color);
   cursor: pointer;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   
  }


.icon {
    display: inline-block;
    text-decoration: none;
    width: 370px;
 

}
.icon:hover,
.icon:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}


.project-icon{
    padding: 20px 24px;
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
}
.icon-text{
margin-top: 0;
margin-bottom: 4px;


font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--main-text-color);
}
.icon-text-list{
    margin-top: 0;
    margin-bottom: 0;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--ouwer-text-color);
}
